
<!-- <nav class="navbar navbar-inverse">
    <div *ngIf="!navelement">
    <ul class="nav navbar-nav navbar-right">
      <li><a [routerLink]='["/signup"]' routerLinkActive="active" *ngIf="!navelement"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    </ul>
   </div>
    <div style="color: white;">{{navelement|json}}</div> -->
    <!-- <div *ngIf="navelement">
    <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]='["/login"]' routerLinkActive="active" ><span class="glyphicon glyphicon-user"></span> Logout</a></li>
        <li><a [routerLink]='["/cart"]' routerLinkActive="active" *ngIf="navelement"><span class="glyphicon glyphicon-shopping-cart"></span> cart</a></li>
      </ul>
    </div>
</nav> --> 


<!-- <app-login (OnRegister)="navelement"></app-login> -->
<router-outlet></router-outlet>